<?xml version="1.0" encoding="UTF-8" ?>
<suite name="执行移动端美团测试用例" parallel="tests" thread-count="2">
    <test name="edaed87d">
        <parameter name="udid" value="edaed87d"/>
        <parameter name="port" value="4723"/>
        <classes>
            <class name="com.meituan.Testmain"/>
            <class name="com.meituan.HomePageTest"/>
        </classes>
    </test>
    <!--<test name="192.168.215.101:5555">-->
        <!--<parameter name="udid" value="192.168.215.101:5555"/>-->
        <!--<parameter name="port" value="4724"/>-->
        <!--<classes>-->
            <!--<class name="com.meituan.Testmain"/>-->
        <!--</classes>-->
    <!--</test>-->
    <listeners>
        <listener class-name="com.meituan.Util.ExtentTestNGIReporterListener"/>
    </listeners>
</suite>